﻿@model MeetingRoom.VDI.Web.Models.EditEquipmentViewModel

@{
    ViewBag.Title = "Edit Equipment";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Equipment</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Equipment
            </div>
            <p></p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.meetingRoomEquipmentTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="form-group input-group">
                            @Html.EditorFor(model => model.meetingRoomEquipmentTitle, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                            @Html.ValidationMessageFor(model => model.meetingRoomEquipmentTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.meetingRoomEquipmentDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="form-group input-group">
                            @Html.EditorFor(model => model.meetingRoomEquipmentDescription, new { htmlAttributes = new { @class = "form-control", @style = "width:250px" } })
                            @Html.ValidationMessageFor(model => model.meetingRoomEquipmentDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.meetingRoomEquipmentPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="form-group input-group">
                                <span class="input-group-addon">Rp</span>
                                @Html.EditorFor(model => model.meetingRoomEquipmentPrice, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                                @Html.ValidationMessageFor(model => model.meetingRoomEquipmentPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "Equipment")';return false;">Cancel</button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>