﻿@model MeetingRoom.VDI.Web.Models.CreateLayoutViewModel

@{
    ViewBag.Title = "Create Layout";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Create Layout</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create Layout
            </div>
            <p></p>
            @using (Html.BeginForm("Create", "Layout", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.meetingRoomLayoutTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="form-group input-group">
                            @Html.EditorFor(model => model.meetingRoomLayoutTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Layout Name", @style = "width:150px" } })
                            @Html.ValidationMessageFor(model => model.meetingRoomLayoutTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.meetingRoomLayoutDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="form-group input-group">
                            @Html.TextAreaFor(model => model.meetingRoomLayoutDescription, new { htmlAttributes = new { style = "width:250px", rows = "3", @class = "form-control", @placeholder = "Layout Description" } })
                            @Html.ValidationMessageFor(model => model.meetingRoomLayoutDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.meetingRoomLayoutPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="form-group input-group">
                            <span class="input-group-addon">Rp</span>
                            @Html.EditorFor(model => model.meetingRoomLayoutPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Layout Price Per Hour", @style = "width:200px" } })
                            @Html.ValidationMessageFor(model => model.meetingRoomLayoutPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.meetingRoomLayoutCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="form-group input-group">
                            @Html.EditorFor(model => model.meetingRoomLayoutCapacity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Layout Capacity", @style = "width:150px" } })
                            @Html.ValidationMessageFor(model => model.meetingRoomLayoutCapacity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.meetingRoomLayoutImages, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="form-group input-group">
                            <input type="file" name="file" id="inputFile" multiple="multiple" />
                            <img id="displayImage" src="#" alt="Layout Here" style="height:100px;width:200px;" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "Layout")';return false;">Cancel</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#displayImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#inputFile").change(function () {
        readURL(this);
    });
</script>
