﻿
@{
    ViewBag.Title = "Booking Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Booking Form</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Booking Form
            </div>

            <div class="panel-body">
                <div class="tabbable boxed parentTabs">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#booking-pills" data-toggle="tab">Booking Details</a>
                        </li>
                        <li>
                            <a href="#client-pills" data-toggle="tab">Client Details</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="booking-pills">
                            <h4></h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <div class='input-group date' id='dtpDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Attendees</label>
                                            <input class="form-control" placeholder="Enter text">
                                        </div>
                                        <div class="form-group">
                                            <label>Room</label>
                                            <select class="form-control">
                                                <option>Room 1</option>
                                                <option>Room 2</option>
                                                <option>Room 3</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Layout</label>
                                            <select class="form-control">
                                                <option>Layout 1</option>
                                                <option>Layout 2</option>
                                                <option>Layout 3</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Duration</label>
                                            <select class="form-control">
                                                <option>Duration 1</option>
                                                <option>Duration 2</option>
                                                <option>Duration 3</option>
                                            </select>
                                        </div>

                                        <select class="multipleSelect" multiple name="language">
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Angola">Angola</option>
                                        </select>

                                        <select id="example-getting-started" multiple="multiple">
                                            <option value="cheese">Cheese</option>
                                            <option value="tomatoes">Tomatoes</option>
                                            <option value="mozarella">Mozzarella</option>
                                            <option value="mushrooms">Mushrooms</option>
                                            <option value="pepperoni">Pepperoni</option>
                                            <option value="onions">Onions</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select class="form-control">
                                                <option>Status 1</option>
                                                <option>Status 2</option>
                                                <option>Status 3</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Payment Method</label>
                                            <select class="form-control">
                                                <option>Ovo</option>
                                                <option>PayTren</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Room Price</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">$</span>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Equipment Price</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">$</span>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Food & Drink Price</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">$</span>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Sub Total</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">$</span>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Tax</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">$</span>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Total</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">$</span>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Deposit</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">$</span>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tabbable">
                                <ul class="nav nav-pills">
                                    <li class="active">
                                        <a href="#equipment-pills" data-toggle="tab">Equipment</a>
                                    </li>
                                    <li>
                                        <a href="#beverage-pills" data-toggle="tab">Food & Drinks</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="equipment-pills">
                                        <h4></h4>
                                        <table class="table table-striped table-bordered table-hover" id="dataTables-equipment">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Unit</th>
                                                    <th>Price</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control" id="equipTitle" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="equipUnit" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="equipPrice" />
                                                    </td>
                                                    <td>
                                                        <input class="btn btn-primary" type="button" id="btnAddEquipment" value="Add" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div id="equipmentItems" class="tablecontainer">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="beverage-pills">
                                        <h4></h4>
                                        <table class="table table-striped table-bordered table-hover" id="dataTables-beverage">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>People</th>
                                                    <th>Prices</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control" id="beverageTitle" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="beveragePeople" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="beveragePrices" />
                                                    </td>
                                                    <td>
                                                        <input class="btn btn-primary" type="button" id="btnAddBeverage" value="Add" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div id="beverageItems" class="tablecontainer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="client-pills">
                            <div class="tabbable">
                                <div class="row">
                                    <h4></h4>
                                    <div class="col-lg-6">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>Title</label>
                                                <input class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>Notes</label>
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Company</label>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>City</label>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>State</label>
                                                <input class="form-control" placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select class="form-control">
                                                    <option>Indonesia</option>
                                                    <option>Yunani</option>
                                                    <option>Turki</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">I agree to Terms and Conditions
                    </label>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <button class="btn btn-primary" id="bookNow">Book Now</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<script>
    $(function () {
        $('#dtpDate').datetimepicker();
    });

    $("#bookNow").click(function () {
        alert('1');
    });


    $(document).ready(function () {
        $('#example-getting-started').multiselect();
    });



    //$(document).ready(function () {
    //    var equipmentItems = [];
    //    var beverageItems = [];

    //    $('#btnAddEquipment').click(function () {
    //        var isValidItem = true;
    //        if ($('#equipTitle').val().trim() == '') {
    //            isValidItem = false;
    //            $('#equipTitle').siblings('span.error').css('visibility', 'visible');
    //        }
    //        else {
    //            $('#equipTitle').siblings('span.error').css('visibility', 'hidden');
    //        }

    //        if (!($('#equipUnit').val().trim() != '' && !isNaN($('#equipUnit').val().trim()))) {
    //            isValidItem = false;
    //            $('#equipUnit').siblings('span.error').css('visibility', 'visible');
    //        }
    //        else {
    //            $('#equipUnit').siblings('span.error').css('visibility', 'hidden');
    //        }

    //        if (!($('#equipPrice').val().trim() != '' && !isNaN($('#equipPrice').val().trim()))) {
    //            isValidItem = false;
    //            $('#equipPrice').siblings('span.error').css('visibility', 'visible');
    //        }
    //        else {
    //            $('#equipPrice').siblings('span.error').css('visibility', 'hidden');
    //        }

    //        if (isValidItem) {
    //            equipmentItems.push({
    //                EquipTitle: $('#equipTitle').val().trim(),
    //                EquipUnit: parseInt($('#equipUnit').val().trim()),
    //                EquipPrice: parseFloat($('#equipPrice').val().trim())
    //            });

    //            $('#equipTitle').val('').focus();
    //            $('#equipUnit,#equipPrice').val('');

    //        }

    //        GeneratedItemsTableEquipment();

    //    });

    //    function GeneratedItemsTableEquipment() {
    //        if (equipmentItems.length > 0) {
    //            var $table = $('<table />');
    //            $table.append('<thead><tr><th>Title</th><th>Unit</th><th>Price</th><th></th></tr></thead>');
    //            var $tbody = $('<tbody />');
    //            $.each(equipmentItems, function (i, val) {
    //                var $row = $('<tr />');
    //                $row.append($('<td />').html(val.EquipTitle));
    //                $row.append($('<td />').html(val.EquipUnit));
    //                $row.append($('<td />').html(val.EquipPrice));
    //                var $remove = $('<a href="#">Remove</a>');
    //                $remove.click(function (e) {
    //                    e.preventDefault();
    //                    equipmentItems.splice(i, 1);
    //                    GeneratedItemsTableEquipment();
    //                });
    //                $row.append($('<td />').html($remove));
    //                $tbody.append($row);
    //            });
    //            console.log("current", equipmentItems);
    //            $table.append($tbody);
    //            $('#equipmentItems').html($table);
    //        }
    //        else {
    //            $('#equipmentItems').html('');
    //        }
    //    }

    //    $('#btnAddBeverage').click(function () {
    //        var isValidItem = true;
    //        if ($('#beverageTitle').val().trim() == '') {
    //            isValidItem = false;
    //            $('#beverageTitle').siblings('span.error').css('visibility', 'visible');
    //        }
    //        else {
    //            $('#beverageTitle').siblings('span.error').css('visibility', 'hidden');
    //        }

    //        if (!($('#beveragePeople').val().trim() != '' && !isNaN($('#beveragePeople').val().trim()))) {
    //            isValidItem = false;
    //            $('#beveragePeople').siblings('span.error').css('visibility', 'visible');
    //        }
    //        else {
    //            $('#beveragePeople').siblings('span.error').css('visibility', 'hidden');
    //        }

    //        if (!($('#beveragePrices').val().trim() != '' && !isNaN($('#beveragePrices').val().trim()))) {
    //            isValidItem = false;
    //            $('#beveragePrices').siblings('span.error').css('visibility', 'visible');
    //        }
    //        else {
    //            $('#beveragePrices').siblings('span.error').css('visibility', 'hidden');
    //        }

    //        if (isValidItem) {
    //            beverageItems.push({
    //                BeverageTitle: $('#beverageTitle').val().trim(),
    //                BeveragePeople: parseInt($('#beveragePeople').val().trim()),
    //                BeveragePrice: parseFloat($('#beveragePrices').val().trim())
    //            });

    //            $('#beverageTitle').val('').focus();
    //            $('#beveragePeople,#beveragePrices').val('');

    //        }

    //        GeneratedItemsTableBeverage();

    //    });
    //    function GeneratedItemsTableBeverage() {
    //        if (beverageItems.length > 0) {
    //            var $table = $('<table />');
    //            $table.append('<thead><tr><th>Title</th><th>People</th><th>Price</th><th></th></tr></thead>');
    //            var $tbody = $('<tbody />');
    //            $.each(beverageItems, function (i, val) {
    //                var $row = $('<tr />');
    //                $row.append($('<td />').html(val.BeverageTitle));
    //                $row.append($('<td />').html(val.BeveragePeople));
    //                $row.append($('<td />').html(val.BeveragePrice));
    //                var $remove = $('<a href="#">Remove</a>');
    //                $remove.click(function (e) {
    //                    e.preventDefault();
    //                    beverageItems.splice(i, 1);
    //                    GeneratedItemsTableBeverage();
    //                });
    //                $row.append($('<td />').html($remove));
    //                $tbody.append($row);
    //            });
    //            console.log("current", beverageItems);
    //            $table.append($tbody);
    //            $('#beverageItems').html($table);
    //        }
    //        else {
    //            $('#beverageItems').html('');
    //        }
    //    }
    //});

    //$(document).ready(function () {
    //    $.ajax({
    //        url: "/Layout/GetLayout",
    //        type: "GET",
    //        contentType: "application/json; charset=utf-8",
    //        datatype: JSON,
    //        success: function (data) {
    //            //console.log(data);
    //            var $select = $('#LayoutName');
    //            $("#LayoutName").empty();
    //            $("#LayoutName").append("<option value='0'>--Select Layout--</option>");
    //            $(data).each(function (index) {
    //                console.log($("#LayoutName").val());
    //                $('<option>', {
    //value: data[index].Id
    //}).html(data[index].meetingRoomLayoutTitle).appendTo($select);
    //        });
    //},
    //    error: function (data) { }
    //});
    //});

    //$(document).ready(function () {
    //    $.ajax({
    //        url: "/Room/GetRoom",
    //        type: "GET",
    //        contentType: "application/json; charset=utf-8",
    //        datatype: JSON,
    //        success: function (data) {
    //            //console.log(data);
    //            var $select = $('#RoomName');
    //            $("#RoomName").empty();
    //            $("#RoomName").append("
    //                < option value = '0' > --Select Room--</option > ");
    //            $(data).each(function (index) {
    //                    console.log($("#RoomName").val());
    //                    $('<option>
    //', {
    //value: data[index].Id
    //}).html(data[index].meetingRoomLayoutTitle).appendTo($select);
    //        });
    //},
    //    error: function (data) { }
    //});
    //});
</script>

