﻿@model IEnumerable<MeetingRoom.VDI.Core.Models.Room>

@{
    ViewBag.Title = "Master Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Room</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Room
            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Capacity</th>
                                <th>Booking</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mstMeetingroom in Model)
                            {
                            <tr class="odd gradeX">
                                <td>
                                    <img id="Images" style="width:60px;height:50px;" src='@Url.Action("GetFile", "Room", new {id = mstMeetingroom.Id})' />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => mstMeetingroom.MeetingRoomTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => mstMeetingroom.MeetingRoomDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => mstMeetingroom.MeetingRoomCapacity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => mstMeetingroom.meetingRoomBookFor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => mstMeetingroom.MeetingRoomStatus)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = mstMeetingroom.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = mstMeetingroom.Id })
                                    @*| @Html.ActionLink("Delete", "Delete", new { id = mstMeetingroom.Id })*@
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <p>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Room")';">Create</button>
                </p>
            </div>
        </div>
    </div>
</div>

