﻿@model IEnumerable<MeetingRoom.VDI.Core.Models.Payment>

@{
    ViewBag.Title = "Offline Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Offline Payment</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Offline Payment
            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Reservation Code</th>
                                <th>Reservation Date</th>
                                <th>Client Name</th>
                                <th>Total Payment</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var payment in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.DisplayFor(modelItem => payment.ReservedCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => payment.BookingDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => payment.ClientName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => payment.TotalPayment)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Process", "Edit", new { id = payment.Id }, new { @class = "btn btn-primary btn-large" })
                                        @*@Html.ActionLink("Process", "Edit", new { id = payment.Id })*@
                                        @*@Html.ActionLink("Details", "Details", new { id = payment.Id })*@
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


