﻿
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" style="background-color:white;padding:10px;">
    <div class="col-md-12" style="background-color:white;padding:10px;border:3px solid red;">
        <center>
            <p style="font-size:40px;"><b>Thank You for Your Booking !</b></p>
            <p style="font-size:40px;"><b>See you soon..</b></p>
            <p><img src="~/Templates/images/JIC_OnlineBookingUI_Icon.png" width="22%"/></p>
            <p style="font-size:18px;">For more information</p>
            <p style="font-size:24px;"><b>JIC@Lippo-cikarang.com</b></p>
            <p><img src="~/Templates/images/lippo.jpg" width="10%"/></p>
        </center> 
    </div>
</div>
