﻿
@using MeetingRoom.VDI.Core.Const
@*@using App.Core.Enums*@
@using MeetingRoom.VDI.Core.Models
@using MeetingRoom.VDI.Web.Controllers
@using MeetingRoom.VDI.Web.Helper
@using Mvc.JQuery.Datatables
@using Mvc.JQuery.Datatables.Serialization

@{
    var vm = Html.DataTableVm("GridBeverage", (BeverageController h) => h.GetIndex(null, null));

    vm.JsOptions.Add("scrollY", "360");
    vm.JsOptions.Add("scrollX", "1480");
    //vm.JsOptions.Add("iDisplayLength", 25);
    vm.JsOptions.Add("fnCreatedRow", new Raw(@"function( nRow, aData, iDataIndex ) {$(nRow).attr('data-id', aData[0]);}"));
    vm.TableClass = "table table-striped table-bordered table-hover";
    //vm.FilterOn("Address").None();

    vm.ShowSearch = true;
    vm.ColumnFilter = false;
    vm.TableTools = true;
    vm.StateSave = false;
    vm.AutoWidth = false;
    vm.LengthMenu = CustomDTHelper.LengthMenuVm();
    vm.PageLength = GlobalSetting.DEFAULT_PAGESIZE; //... and set a default
    vm.ColVis = false;

    if (ViewBag.Filter != null)
    {
        ViewBag.FilterData = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Filter);
    }
}


<script type="text/javascript">
    function LinkDetail(data, type, full) {
        return '<a href="/Beverage/Details/' + full[0] + '">' + data + '</em>';
    }

    $('#GridBeverage tbody').on('dblclick', 'tr', function () {
        var id = $(this).attr('data-id');
        var url = "/Beverage/Details/" + id;
        window.location.href = url;
    });
</script>

@Html.Partial("MyDataTable", vm)

