﻿@model MeetingRoom.VDI.Web.Models.BeverageViewModel

@{
    ViewBag.Title = "Details Equipment";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Detail Beverage</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Details Beverage
            </div>
            <p></p>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.meetingRoomFoodDrinkTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.meetingRoomFoodDrinkTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.meetingRoomFoodDrinkDescription)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.meetingRoomFoodDrinkDescription)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.meetingRoomFoodDrinkPrice)
                    </dt>

                    <dd>
                        Rp. @Html.DisplayFor(model => model.meetingRoomFoodDrinkPrice)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>



<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Beverage", new { id = Model.Id })';return false;">Edit</button>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "Beverage")';return false;">Cancel</button>
</p>
