﻿@model IEnumerable<MeetingRoom.VDI.Core.Models.Beverage>

@{
    ViewBag.Title = "Master Beverage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Beverage</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Beverage
            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Prices</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mstMeetingroom in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.DisplayFor(modelItem => mstMeetingroom.meetingRoomFoodDrinkTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => mstMeetingroom.meetingRoomFoodDrinkDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => mstMeetingroom.meetingRoomFoodDrinkPrice)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = mstMeetingroom.Id }, new { @class = "btn btn-primary btn-large" }) |
                                        @Html.ActionLink("Details", "Details", new { id = mstMeetingroom.Id }, new { @class = "btn btn-primary btn-large" })|
                                        @Html.ActionLink("Delete", "Delete", new { id = mstMeetingroom.Id }, new { @class = "btn btn-primary btn-large" })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <p>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Beverage")';">Create</button>
                </p>
            </div>
        </div>
    </div>
</div>

