﻿@model IEnumerable<MeetingRoom.VDI.Core.Models.User>

@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Management</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                User Management
            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>EmailAddress</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                            <tr class="odd gradeX">
                                <td>
                                    @Html.DisplayFor(modelItem => user.userName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.surName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.lastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.Email)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = user.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = user.Id })
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <p>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "User")';">Create</button>
                </p>
            </div>
        </div>
    </div>
</div>

