﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Room - Japan Infromation Center</title>
    <link rel="stylesheet" type="text/css" href="~/Templates/font/style.css" />
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   
    <!-- Javascript -->
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker12').datepicker({
                inline: true,
                sideBySide: true,
                dateFormat: 'dd-mm-yy',
                altField: '#inputDate'
            });
            $('#inputDate').change(function () {
                $('#datetimepicker12').datepicker('setDate', $(this).val());
            });
            $('#datetimepicker13').datepicker({
                sideBySide: true,
                dateFormat: 'dd-mm-yy'
            });
        });
    </script>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image:url(../../Templates/images/JIC_OnlineBookingUI_Background.png);font-family:'DINPro-Regular';font-weight:normal;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:red;border-color:red;">
        <div class="container">
           <p style="text-align:center;font-size:38px;color:white;padding-top:15px;padding-bottom:5px;font-family:'DINPro-Regular';font-weight:normal;"><img src="~/Templates/images/JIC_OnlineBookingUI_LogoOnly.png" width="6%" style="padding-right:10px;"/>Meeting Room Booking Online</p>
        </div>
    </div>
    <div class="container body-content" style="padding-top:100px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meeting Room Booking Online</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
