﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meeting Room </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- fast select -->
    @*<link href="@Url.Content("~/bower_components/fastselect/fastselect.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/bower_components/fastselect/fastselect.min.css")" rel="stylesheet" type="text/css" />*@

    <!-- DataTables CSS -->
    <link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- DataTables Responsive CSS -->
    <link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/bower_components/morrisjs/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/eonasdan/bootstrap-datetimepicker.css" rel="stylesheet" />

    <link href="@Url.Content("~/bower_components/jquery.spinner-master/dist/css/bootstrap-spinner.css")" rel="stylesheet" />
    <link href="@Url.Content("~/bower_components/jquery.spinner-master/dist/css/bootstrap-spinner.min.css")" rel="stylesheet" />

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/bower_components/jquery/dist/jquery.min.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/bower_components/metisMenu/dist/metisMenu.min.js")"></script>
    <script src="~/Content/eonasdan/moment.js"></script>
    <script src="~/Content/eonasdan/bootstrap-datetimepicker.js"></script>

    <!-- fast select JQuery -->
    @*<script src="@Url.Content("~/bower_components/fastselect/fastselect.js")"></script>
        <script src="@Url.Content("~/bower_components/fastselect/fastselect.min.js")"></script>
        <script src="@Url.Content("~/bower_components/fastselect/fastselect.standalone.js")"></script>
        <script src="@Url.Content("~/bower_components/fastselect/fastselect.standalone.min.js")"></script>*@
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Action("Index", "Navbar")

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- DataTables JavaScript -->
    <script src="@Url.Content("~/bower_components/raphael/raphael-min.js")"></script>

    <!-- DataTables JavaScript -->
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>

    <!-- Include the plugin's CSS and JS: -->
    <script type="text/javascript" src="~/Content/multiselect/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="~/Content/multiselect/css/bootstrap-multiselect.css" type="text/css" />

    <!--JQuerySpinner-->
    <script src="@Url.Content("~/bower_components/jquery.spinner-master/js/jquery.spinner.js")"></script>
    <script src="@Url.Content("~/bower_components/jquery.spinner-master/dist/js/jquery.spinner.min.js")"></script>
    <script src="@Url.Content("~/bower_components/jquery.spinner-master/dist/js/jquery.spinner.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                destroy: true,
                responsive: true,
                scrollX: true,
                scrollCollapse: true,
                autoWidth: false,
                paging: true,
                bDestroy: true,
                bRetrieve: true
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

