﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style>
    .ui-datepicker {
        width: 100%;
        height: auto;
        margin: 10px auto 0;
        font-weight: normal;
        font: 11pt DINPro-Regular;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    }
</style>
<div class="row">
    <div class="col-md-4" style="background-color:white;padding-right:0px;padding-left:0px;">
        <h4 style="padding-left:25px;padding-right:25px;padding-bottom:5px;font-family:'DINPro-Regular';font-weight:normal;">
            Welcome to Meeting Room Booking Online
        </h4>
        <p style="padding-left:25px;padding-right:25px;padding-bottom:15px;font-family:'DINPro-Regular';font-weight:normal;">
            Check our meeting room availability
        </p>
        <div>
            <div id="bookingDate" style="padding-left:25px;padding-right:25px;padding-bottom:25px;"></div>
        </div>
        <form style="padding-left:25px;padding-right:25px;">
            <input type="text" id="inputDate" name="inputDate" style="display:none;" />
            <div class="form-row">
                <div class="form-group col-md-6" style="padding-left:0px;">
                    <label for="inputEmail4" style="font-family:'DINPro-Regular';font-weight:normal;">Start time</label>
                    <select id="starttime" name="starttime" class="custom-select" required style="width:100%; height:auto;padding:7px;font-family:'DINPro-Regular';font-weight:normal;">
                        <option value="">--Select Time--</option>
                        <option id="Shour_1" value="1">09:00</option>
                        <option id="Shour_2" value="2">10:00</option>
                        <option id="Shour_3" value="3">11:00</option>
                        <option id="Shour_4" value="4">12:00</option>
                        <option id="Shour_5" value="5">13:00</option>
                        <option id="Shour_6" value="6">14:00</option>
                        <option id="Shour_7" value="7">15:00</option>
                        <option id="Shour_8" value="8">16:00</option>
                        <option id="Shour_9" value="9">17:00</option>
                        <option id="Shour_10" value="10">18:00</option>
                        <option id="Shour_11" value="11">19:00</option>
                        <option id="Shour_12" value="12">20:00</option>
                        <option id="Shour_13" value="13">21:00</option>
                    </select>
                </div>
                <div class="form-group col-md-6" style="padding-right:0px;">
                    <label for="inputPassword4" style="font-family:'DINPro-Regular';font-weight:normal;">Finish time</label>
                    <select id="finishtime" name="finishtime" class="custom-select" required style="width:100%; height:auto;padding:7px;font-family:'DINPro-Regular';font-weight:normal;">
                        <option value="">--Select Time--</option>
                        <option id="Fhour_1" value="1">09:00</option>
                        <option id="Fhour_2" value="2">10:00</option>
                        <option id="Fhour_3" value="3">11:00</option>
                        <option id="Fhour_4" value="4">12:00</option>
                        <option id="Fhour_5" value="5">13:00</option>
                        <option id="Fhour_6" value="6">14:00</option>
                        <option id="Fhour_7" value="7">15:00</option>
                        <option id="Fhour_8" value="8">16:00</option>
                        <option id="Fhour_9" value="9">17:00</option>
                        <option id="Fhour_10" value="10">18:00</option>
                        <option id="Fhour_11" value="11">19:00</option>
                        <option id="Fhour_12" value="12">20:00</option>
                        <option id="Fhour_13" value="13">21:00</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6" style="padding-left:0px;">
                    @*<label for="inputEmail4" style="font-family:'DINPro-Regular';font-weight:normal;">Attendees</label>
                        <select id="attendees" name="attendees" class="custom-select" required style="width:100%; height:auto;padding:7px;font-family:'DINPro-Regular';font-weight:normal;">
                            <option value="">0</option>
                            <option value="1">10</option>
                            <option value="2">20</option>
                            <option value="3">30</option>
                        </select>*@
                </div>
                <div class="form-group col-md-6" style="padding-right:0px;">
                    <label style="color:white;">hide</label>
                    <input type="button" class="form-control" id="btnCheck" value="Check Availability" style="background-color:red;color:white;font-family:'DINPro-Regular';font-weight:normal;border-radius:0px;">
                </div>
            </div>

        </form>
    </div>
    <div class="col-md-8" style="padding-left:0px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Templates/demos/01_parallax.jpg" alt="Los Angeles" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Templates/demos/02_parallax.jpg" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Templates/demos/03_parallax.jpg" alt="New york" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="modal fade roomnotavailableformmodal" tabindex="-1" role="dialog" aria-labelledby="roomnotavailableformmodal" aria-hidden="true" id="roomnotavailableformmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Information</h4>
                </div>
                <div class="modal-body">
                    <form id="requestacallform" method="POST" name="requestacallform">
                        <p>Rooms are not available!</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade timeerrorformmodal" tabindex="-1" role="dialog" aria-labelledby="roomnotavailableformmodal" aria-hidden="true" id="timeerrorformmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Information</h4>
                </div>
                <div class="modal-body">
                    <form id="requestacallform" method="POST" name="requestacallform">
                        <p>Finish Time must be larger than Start Time!</p>
                        <p>or </p>
                        <p>Start Time must not equal to Finish Time!</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnOKError" type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade timepassedformmodal" tabindex="-1" role="dialog" aria-labelledby="roomnotavailableformmodal" aria-hidden="true" id="timepassedformmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Information</h4>
                </div>
                <div class="modal-body">
                    <form id="requestacallform" method="POST" name="requestacallform">
                        <p>Time is already passed!</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnOKPassed" type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var dtPicker = 0;
    var ServerPath = "ServerPath";
    $(document).ready(function () {
        $.ajax({
            url: "/RoomSlot/GetWebConfig",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (data) {
                ServerPath = data;
            },
            error: function (data) { }
        });
    });

    function checkHour(n) {
        var d = new Date();
        var n = d.getHours();

        return n;
    }

    $(document).ready(function () {
        //$('#test_1').attr('disabled', 'disabled');
        var hours = [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21];
        var d = new Date();
        var n = d.getHours();

        var max = hours.indexOf(n);

        //for (i = 1; i <= max + 1; i++) {
        //    $('#Shour_' + i).attr('disabled', 'disabled');
        //    $('#Fhour_' + i).attr('disabled', 'disabled');
        // }

    });

    $(document).ready(function () {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

        $('#bookingDate').datepicker({
            minDate: today,
            onSelect: function (dateText, inst) {
                var date = $(this).datepicker('getDate'),
                    day = date.getDate(),
                    month = date.getMonth() + 1,
                    year = date.getFullYear();

                dtPicker = day;
            }
        });

        $('#bookingDate').datepicker();
        var date = $("#bookingDate").datepicker('getDate'),
            day = date.getDate();

        dtPicker = day;
    });

    $("#btnCheck").on('click', function () {
        var valStartTime = $("#starttime option:selected").val();
        var valEndTime = $("#finishtime option:selected").val();

        var dt = new Date();
        var dayDT = dt.getDate();

        var getCurHour = dt.getHours();

        var compStart = parseInt(valStartTime) + 8;
        var compFinish = parseInt(valEndTime) + 8;

        //alert(parseInt(getCurHour));
        //alert(parseInt(compStart));

        if (parseInt(dayDT) == parseInt(dtPicker)) {
            if ((parseInt(getCurHour) > parseInt(compStart))) {
                $('#timepassedformmodal').modal('toggle');
                return false;
            };
        }

        if (parseInt(dayDT) == parseInt(dtPicker)) {
            if ((parseInt(valStartTime) > parseInt(valEndTime)) || (parseInt(valStartTime) == parseInt(valEndTime))
                && (parseInt(getCurHour) > parseInt(compStart)) || (parseInt(getCurHour) > parseInt(compFinish))) {
                $('#timeerrorformmodal').modal('toggle');
                return false;
            };
        }

        if ((parseInt(valStartTime) == parseInt(valEndTime))) {
            $('#timeerrorformmodal').modal('toggle');
            return false;
        };       

        var jsDate = $('#bookingDate').datepicker('getDate');
        var startTime = $("#starttime option:selected").text();
        var finishTime = $("#finishtime option:selected").text();
        var attendees = $("#attendees option:selected").text();

        var valStartTime = $("#starttime option:selected").val();
        var valFinishTime = $("#finishtime option:selected").val();

        day = jsDate.getDate();
        month = jsDate.getMonth() + 1;
        year = jsDate.getFullYear();

        $.ajax({
            url: "/RoomSlot/CheckRoomSlot?year=" + year + "&month=" + month + "&day=" + day + "&startTime=" + startTime + "&finishTime=" + finishTime,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (data) {
                if (data == true) {
                    sessionStorage.setItem('Year', year);
                    sessionStorage.setItem('Month', month);
                    sessionStorage.setItem('Day', day);
                    sessionStorage.setItem('startTime', valStartTime);
                    sessionStorage.setItem('finishTime', valFinishTime);

                    window.location = ServerPath;
                } else {
                    $('#roomnotavailableformmodal').modal('toggle');
                }
            },
            error: function (data) {

            }
        });
    });

    $("#btnOK").on('click', function () {
        $('#roomnotavailableformmodal').modal('toggle');
    });

    $("#btnOKError").on('click', function () {
        $('#timeerrorformmodal').modal('toggle');
    });

    $("#btnOKPassed").on('click', function () {
        $('#timepassedformmodal').modal('toggle');
    });
</script>

