﻿@model IEnumerable<MeetingRoom.VDI.Web.Models.BookingViewModel>

@{
    ViewBag.Title = "Booking List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Booking List</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Booking List
            </div>

            <p></p>

            <div class="col-md-6">
                <select id="searchNumber" class="custom-select" title='required' required style="width:100%; height:auto;padding:7px;font-family:'DINPro-Regular';font-weight:normal;">
                    <option value="2">--Select All--</option>
                    <option value="1">Submitted</option>
                    <option value="0">Not-Submitted</option>
                </select>
            </div>

            <div class="row">
                <button id="btnSearch" type="button" class="btn btn-primary">Search</button>
            </div>

            <p></p>

            <div class="row">
                <div class="col-md-12" id="listBooking">
                    @Html.Partial("IndexData", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSearch").on("click", function () {
            var isSubmit = $("#searchNumber").val();

            $.ajax({
                type: "POST",
                url: "/BookingList/IndexData",
                data: { submit: isSubmit },
                dataType: 'html',
                success: function (response) {
                    $('#listBooking').html(response);
                }
            });
        });
    });
</script>



