﻿@model MeetingRoom.VDI.Web.Models.EditBookingViewModel

@{
    ViewBag.Title = "View Booking";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">View Booking</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                View Booking
            </div>

            <div class="panel-body">
                <div class="tabbable boxed parentTabs">
                    <div id="myTabContent" class="tab-content">

                        <h4></h4>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-6">
                                    <form class="formData" role="form">
                                        <div class="form-group">
                                            <label>Name</label>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        </div>
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        </div>
                                        <div class="form-group">
                                            <label>Company Name</label>
                                            @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        </div>
                                        <div class="form-group">
                                            <label>Reservation Date</label>
                                            <div class='input-group date' id='dtpDate'>
                                                @Html.EditorFor(model => model.BookingDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Special Request</label>
                                            @Html.EditorFor(model => model.SpecialRequest, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        </div>

                                        <div class="form-group">
                                            <label>Layout</label>
                                            <p>
                                                <img alt="" id="displayLayoutImage" src="@ViewBag.Layout64String" style="height:250px;width:500px;" />
                                            </p>
                                            <label id="lblImage">@ViewBag.LabelImage</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Start Time</label>
                                            <div class='input-group date' id="start_time">
                                                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>End Time</label>
                                            <div class='input-group date' id="end_time">
                                                @Html.EditorFor(model => model.FinishTime, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Number of People</label>
                                            <div class="input-group spinner" data-trigger="spinner">
                                                @Html.EditorFor(model => model.NumberOfPeople, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                                <span class="input-group-addon">
                                                    <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                                                    <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                                                </span>
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            <label>Facilities</label>
                                            <select id="facility" class="form-control" disabled></select>
                                        </div>*@
                                    </form>
                                    <form id="formUpload">
                                        <div class="form-group">
                                            <label>Struk Image</label>
                                            <input type="file" name="file" id="inputFile" multiple="multiple" />
                                            <p>
                                                <img alt="" id="displayImage" src="@ViewBag.Base64String" style="height:300px;width:640px;" />
                                            </p>
                                            <button type="button" id="btnUpload" class="btn btn-success">Upload</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <form>
                                        <div class="form-group">
                                            <label>Payment Method</label>
                                            <select id="PaymentMethod" class="form-control" disabled>
                                                <option value="1">Ovo</option>
                                                <option value="2">Cash</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Room Price</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">Rp</span>
                                                @Html.EditorFor(model => model.RoomPrice, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Equipment Price</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">Rp</span>
                                                @Html.EditorFor(model => model.EquipmentPrice, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                                <span class="input-group-addon">
                                                    <span class="idEquipment glyphicon glyphicon-camera"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Food & Drink Price</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">Rp</span>
                                                @Html.EditorFor(model => model.FoodAndDrinkPrice, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                                <span class="input-group-addon">
                                                    <span class="idBeverage glyphicon glyphicon-glass"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Sub Total</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">Rp</span>
                                                @Html.EditorFor(model => model.SubTotal, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Tax</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">Rp</span>
                                                @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Total</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">Rp</span>
                                                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Deposit</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">Rp</span>
                                                @Html.EditorFor(model => model.Deposit, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="tabbable">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#equipment-pills" data-toggle="tab">Equipment</a>
                            </li>
                            <li>
                                <a href="#beverage-pills" data-toggle="tab">Food & Drinks</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="equipment-pills">
                                <h4></h4>
                                <table class="table table-striped table-bordered table-hover" id="dataTables-equipment">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Prices</th>
                                            <th>Qty</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div id="equipmentItems" class="tablecontainer">

                                </div>
                            </div>
                            <div class="tab-pane fade" id="beverage-pills">
                                <h4></h4>
                                <table class="table table-striped table-bordered table-hover" id="dataTables-beverage">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Prices</th>
                                            <th>Qty</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div id="beverageItems" class="tablecontainer">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>

<div class="modal fade dialogformmodal" tabindex="-1" role="dialog" aria-labelledby="termformmodal" aria-hidden="true" id="dialogformmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete record?</h4>
                </div>
                <div class="modal-body">
                    <form id="requestacallform" method="POST" name="requestacallform">
                        <p>Are you sure want to delete this record?</p>
                        <input id="idBvr" type="text" hidden />
                        <input id="idEqu" type="text" hidden />
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnYes" type="button" class="btn btn-danger">Yes</button>
                    <button id="btnNo" type="button" class="btn btn-primary">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade successformmodal" tabindex="-1" role="dialog" aria-labelledby="termformmodal" aria-hidden="true" id="successformmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Success</h4>
                </div>
                <div class="modal-body">
                    <form id="requestacallform" method="POST" name="requestacallform">
                        <p>Delete success...</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade failedformmodal" tabindex="-1" role="dialog" aria-labelledby="termformmodal" aria-hidden="true" id="failedformmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Failed</h4>
                </div>
                <div class="modal-body">
                    <form id="requestacallform" method="POST" name="requestacallform">
                        <p>Delete failed...</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bookingcodeformmodal" tabindex="-1" role="dialog" aria-labelledby="bookingcodeformmodal" aria-hidden="true" id="bookingcodeformmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Booking Code</h4>
                </div>
                <div class="modal-body">
                    <form id="requestacallform" method="POST" name="requestacallform">
                        <p id="idMsgBook"></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnOKBK" type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <button class="btn btn-primary" id="btnSave">Submit</button>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "BookingList")';return false;">Close</button>
</p>

<script>
    var Total = 0;
    var SubTotal = 0;
    var Tax = 0;
    var equipPrice = 0;
    var foodPrice = 0;
    var roomPrice = 0;
    var idEq = 0;
    var idBvr = 0;
    var bookingCode = "";

    var ServerPath = "ServerPath";
    $(document).ready(function () {
        $.ajax({
            url: "/RoomSlot/GetWebConfigHome",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (data) {
                ServerPath = data;
            },
            error: function (data) { }
        });
    });

    $(document).ready(function () {
        var IsPaid =@Html.Raw(Json.Encode(ViewBag.IsPaid));

        if (parseInt(IsPaid) == 1) {
            $("#btnSave").hide();
        }
    });

    function CalculateTotal(roomPrice, foodPrice, equipPrice) {
        SubTotal = parseInt(foodPrice) + parseInt(equipPrice) + parseInt(roomPrice);
        Tax = SubTotal / 10;
        Total = SubTotal + Tax;

        $("#SubTotal").val(formatMoney(SubTotal));
        $("#Tax").val(formatMoney(Tax));
        $("#Total").val(formatMoney(Total));
    }

    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    function toFloat(num) {
        dotPos = num.indexOf('.');
        commaPos = num.indexOf(',');

        if (dotPos < 0)
            dotPos = 0;

        if (commaPos < 0)
            commaPos = 0;

        if ((dotPos > commaPos) && dotPos)
            sep = dotPos;
        else {
            if ((commaPos > dotPos) && commaPos)
                sep = commaPos;
            else
                sep = false;
        }

        if (sep == false)
            return parseFloat(num.replace(/[^\d]/g, ""));

        return parseFloat(
            num.substr(0, sep).replace(/[^\d]/g, "") + '.' +
            num.substr(sep + 1, num.length).replace(/[^0-9]/, "")
        );

    }

    $(document).ready(function () {
        var idPayment = @Html.Raw(Json.Encode(Model.PaymentMethod));
        $("#PaymentMethod").val(idPayment);

        if (@ViewBag.IsUpload == 1) {
            $("#btnUpload").hide();
        }
    });

    $(document).ready(function () {
        $.ajax({
            url: "/BookingList/GetBeverageById?id=" + parseInt(@ViewBag.bookingId),
            type: "GET",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (data) {
                var beverageTable = $('#dataTables-beverage tbody');
                beverageTable.empty();

                $(data).each(function (index) {
                    beverageTable.append('<tr><td>' + data[index].BeverageName + '</td><td>'
                        + data[index].BeverageDescription + '</td><td>' + formatMoney(data[index].Price) + '</td><td><input disabled class="form-control" value="' + data[index].Qty + '" id="titlebvr_' + data[index].Id + '"></td><td><a class="btn btn-danger btn-circle" onClick="DeleteBeverage(' + data[index].Id + ');"><i class="fa fa-times"></i></a>&nbsp<a class="btn btn-info btn-circle" onClick="EditBeverage(' + data[index].Id + ');"><i class="fa fa-edit"></i></a></td></tr>');
                });
            },
            error: function (data) { }
        });

        $.ajax({
            url: "/BookingList/GetEquipmentById?id=" + parseInt(@ViewBag.bookingId),
            type: "GET",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (data) {
                var equipmentTable = $('#dataTables-equipment tbody');
                equipmentTable.empty();

                $(data).each(function (index) {
                    equipmentTable.append('<tr><td>' + data[index].EquipmentName + '</td><td>'
                        + data[index].EquipmentDescription + '</td><td>' + formatMoney(data[index].Price) + '</td><td><input disabled class="form-control" value="' + data[index].Qty + '" id="titleequip_' + data[index].Id + '"></td><td><a class="btn btn-danger btn-circle" onClick="DeleteEquipment(' + data[index].Id + ');"><i class="fa fa-times"></i></a>&nbsp<a class="btn btn-info btn-circle" onClick="EditEquipment(' + data[index].Id + ');"><i class="fa fa-edit"></i></a></td></tr>');
                });
            },
            error: function (data) { }
        });
    });

    $(document).ready(function () {
        $('#SubTotal').val(formatMoney($('#SubTotal').val()));
        $('#RoomPrice').val(formatMoney($('#RoomPrice').val()));
        $('#EquipmentPrice').val(formatMoney($('#EquipmentPrice').val()));
        $('#FoodAndDrinkPrice').val(formatMoney($('#FoodAndDrinkPrice').val()));
        $('#Tax').val(formatMoney($('#Tax').val()));
        $('#Total').val(formatMoney($('#Total').val()));
    });

    function DeleteBeverage(Id) {
        $('#idBvr').val(Id);
        $('#idEqu').val("0");
        $('#dialogformmodal').modal('toggle');
    }

    function DeleteEquipment(Id) {
        $('#idEqu').val(Id);
        $('#idBvr').val("0");
        $('#dialogformmodal').modal('toggle');
    }

    function EditBeverage(Id) {
        $('#idBvr').val(Id);
        $('#idEqu').val("0");

        if (parseInt(idBvr) != Id) {
            idBvr = Id;
            $("#titlebvr_" + Id).prop("disabled", false);
        } else {
            $.ajax({
                url: "/BookingList/SaveBeverageById?id=" + Id + '&Qty=' + $("#titlebvr_" + Id).val(),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (data) {
                    $("#titlebvr_" + Id).prop("disabled", true);
                    idBvr = Id;

                    window.location.href = window.location.href.replace(/#.*$/, '');
                },
                error: function (data) { }
            });
        }
    }

    function EditEquipment(Id) {
        $('#idBvr').val(Id);
        $('#idEqu').val("0");

        if (parseInt(idEq) != Id) {
            idEq = Id;
            $("#titleequip_" + Id).prop("disabled", false);
        } else {
            $.ajax({
                url: "/BookingList/SaveEquipmentById?id=" + Id + '&Qty=' + $("#titleequip_" + Id).val(),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (data) {
                    $("#titleequip_" + Id).prop("disabled", true);
                    idEq = Id;

                    window.location.href = window.location.href.replace(/#.*$/, '');
                },
                error: function (data) { }
            });
        }
    }

    function JsonToJSDate(jsonDate) {
        var reg = /-?\d+/;
        var m = reg.exec(jsonDate);

        var d = new Date(parseInt(m[0])),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }

    $("#btnSave").on('click', function () {
        $.post("@Url.Action("UpdateData", "BookingList")",
            {
                            Id: @Html.Raw(Json.Encode(Model.Id)),
                            Name: @Html.Raw(Json.Encode(Model.Name)),
                            Phone: @Html.Raw(Json.Encode(Model.Phone)),
                            Email: @Html.Raw(Json.Encode(Model.Email)),
                            Company: @Html.Raw(Json.Encode(Model.Company)),
                            BookingCode: @Html.Raw(Json.Encode(Model.BookingCode)),
                            BookingDate: JsonToJSDate(@Html.Raw(Json.Encode(Model.BookingDate))),
                            SpecialRequest: @Html.Raw(Json.Encode(Model.SpecialRequest)),
                            StartTime: $("#StartTime").val(),
                            FinishTime: $("#FinishTime").val(),
                            MeetingRoomType: @Html.Raw(Json.Encode(Model.MeetingRoomType)),
                            NumberOfPeople: @Html.Raw(Json.Encode(Model.NumberOfPeople)),
                            Facilities: @Html.Raw(Json.Encode(Model.Facilities)),
                            LayoutId: @Html.Raw(Json.Encode(Model.LayoutId)),
                            PaymentMethod: @Html.Raw(Json.Encode(Model.PaymentMethod)),
                            RoomPrice: @Html.Raw(Json.Encode(Model.RoomPrice)),
                            EquipmentPrice: 0,
                            FoodAndDrinkPrice: 0,
                            SubTotal: 0,
                            Tax: 0,
                            Total: 0,
                            Deposit: 0,
                        },
            function (data, status) {
                $("#idMsgBook").text("Your booking code is " + bookingCode);
                $('#bookingcodeformmodal').modal('toggle');

                //window.location.href = window.location.href.replace(/#.*$/, '');
            });
    });

    $("#btnUpload").on("click", function (){

        var fileUpload = $("#inputFile").get(0);
        var files = fileUpload.files;
        var form = $('#FormUpload')[0];

        var fileData = new FormData(form);
        fileData.append('fileUpload', files[0]);

        $.ajax({
            url: "/OfflinePayment/UpdatePayment?ReservedCode=" + @Html.Raw(Json.Encode(Model.ReservedCode)),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            contentType: false,
            processData: false,
            data: fileData,
            success: function (data) {
                bookingCode = data;
                alert('Upload Success!');
            },
            error: function (data) {

            }
        });

    });

    $("#btnYes").on('click', function () {
        var idBvr = $('#idBvr').val();
        var idEqu = $('#idEqu').val();

        if (idBvr != "0") {
            $.ajax({
                url: "/BookingList/DeleteBeverageById?id=" + idBvr,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (data) {

                },
                error: function (data) { }
            });

            $.ajax({
                url: "/BookingList/GetBeverageDetailTotalById?id=" + parseInt(@ViewBag.bookingId),
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (data) {
                    foodPrice = data;
                    $('#FoodAndDrinkPrice').val(formatMoney(data));
                },
                error: function (data) { }
            });

            $.ajax({
                url: "/BookingList/GetEquipmentDetailTotalById?id=" + parseInt(@ViewBag.bookingId),
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (data) {
                    equipPrice = data;
                    $('#EquipmentPrice').val(formatMoney(data));
                },
                error: function (data) { }
            });
        } else {
            $.ajax({
                url: "/BookingList/DeleteEquipmentById?id=" + idEqu,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (data) {

                },
                error: function (data) { }
            });

            $.ajax({
                url: "/BookingList/GetBeverageDetailTotalById?id=" + parseInt(@ViewBag.bookingId),
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (data) {
                    foodPrice = data;
                    $('#FoodAndDrinkPrice').val(formatMoney(data));
                },
                error: function (data) { }
            });

            $.ajax({
                url: "/BookingList/GetEquipmentDetailTotalById?id=" + parseInt(@ViewBag.bookingId),
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (data) {
                    equipPrice = data;
                    $('#EquipmentPrice').val(formatMoney(data));
                },
                error: function (data) { }
            });
        }

        //CalculateTotal(roomPrice, foodPrice, equipPrice);

        var roomPrice = $('#RoomPrice').val();
        roomPrice.replace('/[$,]+/g, ""');

        SubTotal = parseInt(foodPrice) + parseInt(equipPrice) + parseInt(roomPrice);
        Tax = SubTotal / 10;
        Total = SubTotal + Tax;

        $("#SubTotal").val(formatMoney(SubTotal));
        $("#Tax").val(formatMoney(Tax));
        $("#Total").val(formatMoney(Total));

        $('#dialogformmodal').modal('toggle');

        window.location.href = window.location.href.replace(/#.*$/, '');
    });

    $("#btnNo").on('click', function () {
        $('#dialogformmodal').modal('toggle');
    });

    $("#btnOKBK").on('click', function () {
        $('#bookingcodeformmodal').modal('toggle');

        //window.location.href = window.location.href.replace(/#.*$/, '');
        window.location = ServerPath + "/BookingList";
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#displayImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#inputFile").change(function () {
        readURL(this);
    });
</script>
